.alert {
  background-color: #3b3b3b;
  color: #ffffff;
  border: 0;

  .search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;

    .icon-button {
      margin-left: 10px;
      background: none;
      color: #ffffff;
      border: none;
    }
  }
}