$mainColor: #3b3b3b;
$reverseMainColor: #ffffff;
$activeColor: #c2c2c2;
$reverseActiveColor: #000000;

.App {

  .left,
  .right {
    min-height: 100vh;
    position: relative;
  }

  .btn-container {
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 0;
  }

  .btn-add,
  .btn-import {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $mainColor;
    color: $reverseMainColor;

    svg {
      margin-right: 8px;
      color: $reverseMainColor;
    }
  }

  .btn-add:hover,
  .btn-import:hover {
    background-color: $activeColor;
    color: $reverseActiveColor;

    svg {
      color: $reverseActiveColor;
    }
  }

  .time {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 30px;
    padding-left: 10px;
  }

  .init-page {
    text-align: center;
    height: 100vh;
    line-height: 100vh;
    font-size: 36px;
    font-weight: bold;
    color: #999999;
    background-color: #f5f5f5;
  }

  // bootstrap 样式覆盖
  .form-control:focus {
    border-color: $mainColor;
    box-shadow: 0 0 0 0.25em rgba(59, 59, 59, 0.25);
  }

  .button {
    border-radius: 0 !important;
  }
}